@charset "utf-8";

@font-face {
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 200;
font-display: fallback;
src: local('Roboto Mono Light'), url('fonts/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-display: fallback;
src: local('Roboto Mono'), url('fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'GT America';
font-style: normal;
font-weight: 200;
font-display: fallback;
src: local('GT America Light'), url('fonts/GT America Light.ttf') format('truetype');
}

@font-face {
font-family: 'GT America';
font-style: normal;
font-weight: 300;
font-display: fallback;
src: local('GT America Regular'), url('fonts/GT America Regular.ttf') format('truetype');
}

/* Font 'GT America': Copyright 2016 by Nol Leu. All rights reserved. */


/* BASICS */

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	scroll-behavior: smooth;
}

@-ms-viewport {
	width: device-width;
}

body {
	margin: 0;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 99.9999999%;
	max-width: 100%;
	line-height:1.7;
	font-family: 'GT America', Arial, Helvetica, sans-serif;
	color: #040404;
	letter-spacing: 0.7px;
	word-spacing: 1px;
	font-weight: 300;
	overflow-x: hidden;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	font-style: italic;
}

/* MENU */

nav  {
	display: block;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	position: fixed;
	width: 100%;
	padding-top: 7px;
	z-index: 2;
	line-height: 1;
	letter-spacing: 0px;
	word-spacing: 0px;
	height: 25px;
	border-bottom: 1px solid black;
	background-color: white;
}

nav a {
	font-size: 18px;
	padding-left: 1%;
}

#back {
	background-color: transparent;
	border: none;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	position: fixed;
	right: 3.5px;
	top: 6px;
	height: 18px;
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
	color: black!important;
}

#name:hover {
	font-style: normal;
}

/* CURRENT */

#current {
	display: block;
	margin-left: 70px;
	padding-top: 50px;
	padding-bottom: 25px;
	position: relative;
	width: 50%;
	height: auto;
}

#current a {
	color: blue;
}

/* INDEX */

#index {
	border-top: 1px dashed blue;
	width: 100%;
	background-color: #f2f5f2;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 25px;
}

#index hr {
	border-top: 1px solid black!important;
	width: 102%;
	margin-top: -17px;
}

#index h1 {
	padding-top: 20px;
	font-size: 15px;
	line-height: 1.3;
	font-weight: 300;
	margin-left: 70px;
}

#index h2 {
	font-size: 14px;
	margin-top: -4px;
	line-height: 1.2;
	font-weight: 200;
	font-style: italic;
	margin-left: 70px;
}

.index-column {
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
}

#index h3 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0px;
	word-spacing: 0px;
	margin-left: 70px;
}

/* WORKS */

#works h2 a {
	font-weight: 300;
	color: blue;
}

#works h2 a:hover {
	font-style: normal;
}

#works img {
	padding-top: 20px;
	width: 200px;
	margin-left: 70px;
	filter: grayscale(100%) opacity(80%);
}

#works img:hover {	
	filter: grayscale(0%);
}


.sub-img {
	padding-top: 0px!important;
}

/* WRITING */

#writing h2 a {
	font-weight: 300;
	color: blue;
}

#writing h2 a:hover {
	font-style: normal;
}

/* PAST */

#past {
	padding-top: 40px;
	position: relative;
	display: block;
	padding-left: 5%;
	padding-right: 5%;
	width: auto;
	height: auto;
	border-top: 1px dashed blue;
	background-color: #ECECEF;
	padding-bottom: 50px;
}

#past h2 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 0px;
	word-spacing: 0px;
}

#past text {
	font-size: 15px;
	font-family: 'Roboto Mono', monospace;
	line-height: 1;
	letter-spacing: 0px;
	word-spacing: 0px;
}

/* INDEX PAGES */

.display {
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: white;
}

.text {
	position: relative;
	top: 50px;
	width: 50%;
	height: 90%;
	padding-bottom: 100px;
	overflow: hidden;
	font-weight: 400;
	font-size: 15px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	line-height: 2;
} 

.text text {
	line-height: 1;
}

#the-skin-is {
	width:457px;
	line-height:1.5;
	font-size: 15px;
}

.description {
	position: fixed;
	top: 25px;
	width: 30%;
	height: 90%;
	padding-top: 20px;
	padding-bottom: 100px;
	overflow: scroll;
	padding-left: 15px;
	font-weight: 300;
	background-color: white;
	border-right: 1px solid black;
}

.description::-webkit-scrollbar {
  display: none;
}

.description p {
	font-size: 15px;
	text-align: left;
	margin: 10px;
}

.description a, .display a {
	color: black;
	text-decoration: none;
}

.description a:hover, .display a:hover {
	font-style: italic;
}

.description text, .text text {
	font-size: 18px;
	font-family: 'Roboto Mono', monospace;
		line-height: 1;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.description-link:hover {
	font-style: normal !important;
}

.description span, .text span {
	font-size: 13px;
	font-style: italic;
}

.text span {
	line-height: 1;
}

.critical text {
	line-height:1.7;
	font-family: 'GT America'!important;
	font-size: 16px;
	letter-spacing: 0.7px;
	word-spacing: 1px;
	font-weight: 300;
}

.scan {
	background-color: white!important;
}

@media screen and (max-width: 1200px) {

.text {
	width: 95%!important;
}

}


@media screen and (max-width: 1000px) {

#current {
	margin-left: 5%;
	width: 90%;
}

}

@media screen and (max-width: 1010px) {

#current, #past {
	font-size: 15px;
}

#past h2 {
	font-size: 16px;
}

}

@media screen and (max-width: 860px) {

.index-column {
	display: block;
	width: 98%;
	height: 100%;
}

#writing {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px blue dashed;
}

.index-column h3, .index-column h1, .index-column h2, #works img {
	margin-left: 20px!important;
} 

#works img {
	width: 70%;
}

}

@media screen and (min-width: 720px) {

#images {
	position: fixed;
	top: 25px;
	width: 70%;
	height: 100%;
	overflow: scroll;
	margin-left: 30%;
	background-color: #f2f5f2;
	margin-bottom: 1000px;
}

.image {
	display: block;
	width: 90%;
	max-width: 900px;
	margin-left: 6%;
	padding-top: 10px;
}

.vertical {
	display: block;
	width: 45%!important;
	max-width: 600px;
	margin-left: 27.5%;
	padding-top: 10px;
}

.first-image {
	margin-top: 40px;
}

.last-image {
	margin-bottom: 80px;
}

.vimeo {
	width: 700px;
	height: 400px;
}

}

@media screen and (max-width: 720px) {

#name {
	display: none;
}

#back {

}

nav {
	position: fixed!important;
	padding-left: 5px;
	height: 25px;
}

#works {
	width: 98%;
}

#works .box {
	width: 49.2%;
}

.box h1, .box h2 {
	font-size: 14px;
}

.box p {
	font-size: 13px;
}

#past {
	padding-top: 40px;
	padding-bottom: 50x;
}

.display {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: white;
}

.description {
	position: relative;
	display: block;
	width: 95%;
	padding-left: 2%;
	border-right: 0px;
	margin-top: -30px;
	background-color: transparent;
	padding-bottom: 50px;
}

#images {
	position: relative;
	display: block;
	width: 100%!important;
	background-color: #f2f5f2;
	padding-bottom: 20px;
	border-bottom: 1px dashed blue;
}

.image {
	display: block;
	width: 98%;
	margin-left: 1%;
	padding-top: 5px;
}

.first-image {
	padding-top: 38px;
}

.last-image {
	margin-bottom: 0px;
}

.vimeo {
	width: 380px;
	height: 210px;
}

}
